@using BlazorNifty.Components.Wizards

@inherits Wizard<TestWizardModel>

<div class="row">
    <p>The final step has been reached. Thank you \o/</p>
</div>

@code {
    [CascadingParameter]
    private Wizard<TestWizardModel> Wizard { get; set; }
}
