
.shell {
    background-color: #edf1f6;
    color: #75868f;
    display: flex;
    flex-direction: column;
    grid-area: 2/2/3/3;
    width: 100%;
    min-width: 0;
    max-width: 100vw;
}

.shell-header {
    color: #cfd6df;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--mud-palette-primary);
    padding-left: 10px;
}

.shell.rounded .shell-header {
    border-radius: 0 0 100% 100%/0 0 3vw 3vw;
}

.shell-header-content::before {
    background-color: var(--mud-palette-primary);
    content: "";
    display: block;
    height: 1.09375rem;
    margin-left: 0;
    -webkit-mask-image: radial-gradient(circle at 0 1.09375rem,transparent 0,transparent 1.09375rem,#000 1.09375rem);
    mask-image: radial-gradient(circle 1.09375rem at 0 1.09375rem,transparent 0,transparent 1.09375rem,#000 1.09375rem);
    position: sticky;
    top: 2.98rem;
    transform: translateX(-1.7375rem);
    width: 1.155rem;
    z-index: 100000;
    /*margin-top: 1.0875rem;*/
}

.shell-header-content::after {
    content: "";
    display: block;
    height: 1.6vw;
    width: 100%;
}

.shell.overlaping .shell-header-content::after {
    height: 12.5vw;
}

.shell-body {
    color: #75868f;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    max-width: 100vw;
    padding: 10px;
    z-index: 99;
}

.shell.overlaping .shell-body {
    margin-top: calc(-12.5vw - 0.5rem);
}

/*.shell-footer {
    grid-column: 2/3;
    grid-row: -1;
    padding: 20px;
}*/

.mud-drawer.mud-drawer-fixed.mud-drawer-pos-right.mud-drawer--open.mud-drawer-md.mud-drawer-clipped-never.mud-elevation-0.mud-drawer-temporary.airhaus-sidebar {
    background-color: var(--mud-palette-primary);
}
