<div class="@shellClass" style="@Style">

    @if (ShellHeader != null)
    {
        <header class="shell-header">
            <div class="shell-header-content">
                @ShellHeader
            </div>

        </header>
    }


    <main class="shell-body">
        @ShellBody
    </main>

    <main class="shell-footer">
        @ShellFooter
    </main>

</div>
