<div class="@shellClass" style="@Style">
   
    <header class="shell-header">
       @ShellHeader
    </header>
   
    <main class="shell-body">
        @ShellBody
    </main>

    <main class="shell-footer">
        @ShellFooter
    </main>
</div>
