.light-label {
    color: #75868f;
}

.font-weight-bold {
    font-weight:bold;
}

.multiple-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    margin-top: 0.15rem;
    margin-bottom: 0.12rem;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #75868f;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #bdbdbdff;
    border-radius: 4px;
}

.left-addition-to-input {
    border: 1px solid #bdbdbdff;
    border-radius: 4px;
    align-self: center;
    padding: 0.13rem 0.55rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

/*.left-addition-to-input {
    border: 1px solid #bdbdbdff;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
    padding-right: 0.55rem;
    padding-left: 0.55rem;
    margin-top: 0.45rem;
}*/

.right-addition-to-input {
    border: 1px solid #bdbdbdff;
    border-radius: 4px;
    align-self: center;
    padding: 0.13rem 0.55rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}

.middle-addition-to-inputs {
    border: 1px solid #bdbdbdff;
    align-self: center;
    padding: 0.13rem 0.55rem;
    border-left-width: 0px;
    border-right-width: 0px;
}


.left-border-radius-0 .mud-input .mud-input-outlined-border {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.right-border-radius-0 .mud-input .mud-input-outlined-border {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}